

@media only screen and (min-width:0px) and (max-width:767px) {
    .itemDetail-img{
        width: 310px;
        height: 310px;
        object-fit: contain;
    }
}
@media only screen and (min-width:768px) and (max-width:1239px) {
    .itemDetail-img{
        width: 480px;
        height: 480px;
        object-fit: contain;
    }
}
@media only screen and (min-width:1240px) {
    .itemDetail-img{
        width: 480px;
        height: 480px;
        object-fit: contain;
    }
}

