img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.text-center{
    color: #f6e0a1;
    background-color: rgba(132, 162, 88, 0.9);
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}