.card-img-products{
    width: 310px;
    height: 275px;
    object-fit: contain;
}
.card-title{
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
}
.card-text{
    color: #ffffff;
    font-weight: 200;
    font-size: 20px;
}

#footer{
    background-color: rgba(132, 162, 88, 0.9);
    border: 1px;
}

#button{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 30px;
}


